.width-full {
  width: 100%;
}

.input {
  margin: 2%;
}

.text {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: normal;
    color: #000a12;
}

.span-general {
    @extend .text;
    font-size: 16px;
}

.subtitle-text {
    @extend .text;
    font-size: 20px; 
}

.margin-input-form {
  margin: 1%;
}
